fastapi
uvicorn
langchain
openai
pypdf
chromadb
tiktoken
transformers
Chroma
TextLoader
PyPDFLoader
langchain 
CharacterTextSplitter
ConversationalRetrievalChain
RecursiveCharacterTextSplitter
